.actor {
  display: grid;
  grid-template-columns: max-content;
  
  align-items: center;
  padding: 2rem 10rem;
  @include respond(mobile-port) {
    padding: 0;
  }

  &__header {
    grid-column: 2 / 4;
    padding-top: 2rem;
    text-align: center;

    &-title {
     h1{
       
     }
    }

    &-resume {
      h2 {
        grid-column: 2 / 4;
        font-size: 3rem;
        text-align: center;
      }
      a {
        grid-column: 2 / 4;
      }
    }
  }

  &__subheading {
    grid-column: 2 / 4;
    font-size: 5rem;
    padding-top: 5rem;
    align-self: center;
    text-align: center;
  }

  &__paragraph {
    grid-column: 2 / 4;
    font-size: 3rem;
    width: 75%;
    justify-self: center;
    text-align: center;
    font-weight: 400 !important;
    margin-bottom: 15rem;
    @include respond(mobile-port) {
      padding: 5rem 0 0 0;
    }
  }
}
