.card {
  position: relative;
  height: auto;
  margin-bottom: 5rem;
  border-radius: 3px;
  background-color: transparent;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  // clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
  // display: flex;
  // flex-direction: column;
  border: $color-tertiary solid 2px;
  transition: all 0.2s ease;

  @include respond(mobile-port) {
    margin-bottom: 2rem;
  }

  &__picture {
    // background-size: cover;
    width: 100%;
    height: auto;
    // background-blend-mode: screen;
    // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    object-fit: cover;

    background-image: linear-gradient(
      to right bottom,
      $color-primary,
      $color-secondary
    );

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__subtitle {
    // padding: 1rem 3rem;
    @include respond(mobile-port) {
      height: fit-content;
    }
    ul {
      list-style: none;
      width: 75%;
      margin: 0 auto;
      @include respond(mobile-port) {
        padding-top: 0;
      }
      li {
        text-align: center;
        font-size: 2.5rem;
        padding: 1rem;
        @include themeGradient;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light;
        }
        @include respond(mobile-port) {
          font-size: 1.5rem;
        }
      }
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 15rem;
    right: 1rem;
    font-family: $font-2;

    @include respond(mobile-port) {
      font-size: 1.5rem;
      top: 10rem;
    }

    background-image: linear-gradient(
      to right bottom,
      $color-primary,
      $color-secondary
    );
    &-span {
      padding: 1rem 1.5rem;
      box-decoration-break: clone;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.8),
        rgba($color-primary, 0.8)
      );
    }
  }

  &:hover,
  &:active {
    border: 1rem solid $color-tertiary;
    transform: scale(1.05) translateY(-0.5rem);
    @include boxShadow;
  }
}
