//COLOR THEME
$color-primary: #01aae4;
$color-secondary: #6ec362;
$color-tertiary: #acdbdb;

$color-grey-light: #e4e4e7;
$color-grey-medium: #a29fa8;
$color-grey-dark: #5d5558;

$color-white: #fff;
$color-off-white: #faf4ec;
$color-black: #000;
$limo-leather: #3b3c3b;

//FONT THEME
$font-1: "Montserrat", sans-serif;
$font-2: "Raleway", sans-serif;

//REACT ICONS
//AiFillGithub
